# Authentication

To authenticate with Dory’s API, you must generate a JWT token and then pass it in the `Authorization` header in your request .  You will be given a client secret to sign the JWT.  The format is as follows:

* `partnerId` is your unique identifier in our system
* `keyId` is a key identifier associated to your account
* `exp` is an epoch timestamp in seconds and must be valid for less than 2 hours


<div class="h3"> Header:</div>
<code>
  {
    "alg": "HS256",
    "typ": "JWT"
  }
</code>

<div class="h3"> Payload:</div>
<code>
  {
    "partnerId": "2057",
    "keyId": "Q9RQ3fa9JRnTf6Rsko",
    "exp": 1516239022
  }
</code>

<div class="h3"> Signature:</div>
HMACSHA256 signed with client secret 

You now use this JWT on all requests with Dory API endpoints.

<aside class="notice">
You must replace example token with your JWT token. 
</aside>


