# Dory Overview

With the Dory's Insurance Distribution API, you can present insurance quotes to your users with maximized discounts all within your own app or website.

<div class="h3">In this guide you will learn:</div>

1. How to authenticate with our API
2. Create and update user information
3. Generate insurance quotes for users
4. Retrieve quote information

<div class="h3">High Level Necessary Steps for generating an quote:</div>

1. Generate a JWT access token in order to communicate with all Dory APIs
2. Create a user by sending a POST request to our `/user/v1` endpoint
3. Start the quote generation process by sending a POST request to `/quote/v1` with user ID and type of insurance quote you want to receive
4. Listen for webhook to be delivered containing the quote ID and it’s status
5. Fetch details about the quote by sending a GET request to `/quote/v1/:id`