# User Information
After generating a JWT, you may now start the first step in our quote process by creating a User in our system.  Most of the parameters are required.  By including the optional parameters, you can maximize the discount amount of the quote.

## Create A User
Creates a unique user in our system tied to your account.  Address verification is strongly recommended to be handled in your application before submitting data to us.  Wrong or invalid addresses could result in failures for generating quotes.

```shell
curl --location --request POST '/user/v1' \
--header 'Authorization: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwYXJ0bmVySWQiOiIyMDU3Iiwia2V5SWQiOiJqa2oxMzEyMyIsImV4cCI6MTUxNjIzOTAyMn0.JCCAbNW4O5RSoGrSbvpF78VtjJ5gxJTuob_69Bn4cW8' \
--header 'Content-Type: application/json' \
--data-raw '{
    "firstName": "Kanga",
    "lastName": "Roo",
    "address": {
        "city": "Columbus",
        "state": "OH",
        "country": "US",
        "zip": "43212",
        "address1": "1920 Edgemont Rd",
        "address2": "Apt 302"
    },
    "email": "test@meetdory.com",
    "phone": "+15555559992",
    "dateOfBirth": "MM/DD/YYYY",
    "typeOfHome": "house",
    "isHomeOwner": true,
    "proMonitoringEnabled" : true,
    "devices": {
        "moisture": "1",
        "theft": "6",
        "smoke": "2",
        "motion": "1",
        "waterShutoff": "0",
        "fire": "0"
    }
}'
```

```ruby
require "uri"
require "json"
require "net/http"

url = URI("/user/v1")

http = Net::HTTP.new(url.host, url.port);
request = Net::HTTP::Post.new(url)
request["Authorization"] = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwYXJ0bmVySWQiOiIyMDU3Iiwia2V5SWQiOiJqa2ox
MzEyMyIsImV4cCI6MTUxNjIzOTAyMn0.JCCAbNW4O5RSoGrSbvpF78VtjJ5gxJTuob_69Bn4cW8"
request.body = JSON.dump({
  "firstName": "Kanga",
  "lastName": "Roo",
  "address": {
    "city": "Columbus",
    "state": "OH",
    "country": "US",
    "zip": "43212",
    "address1": "1920 Edgemont Rd",
    "address2": "Apt 302"
  },
  "email": "test@meetdory.com",
  "phone": "+15555559992",
  "dateOfBirth": "MM/DD/YYYY",
  "typeOfHome": "house",
  "isHomeOwner": true,
  "proMonitoringEnabled": true,
  "devices": {
    "moisture": "1",
    "theft": "6",
    "smoke": "2",
    "motion": "1",
    "waterShutoff": "0",
    "fire": "0"
  }
})
response = http.request(request)

puts response.read_body
```

```javascript
var axios = require('axios');
var data = JSON.stringify({
  "firstName": "Kanga",
  "lastName": "Roo",
  "address": {
    "city": "Columbus",
    "state": "OH",
    "country": "US",
    "zip": "43212",
    "address1": "1920 Edgemont Rd",
    "address2": "Apt 302"
  },
  "email": "test@meetdory.com",
  "phone": "+15555559992",
  "dateOfBirth": "MM/DD/YYYY",
  "typeOfHome": "house",
  "isHomeOwner": true,
  "proMonitoringEnabled": true,
  "devices": {
    "moisture": "1",
    "theft": "6",
    "smoke": "2",
    "motion": "1",
    "waterShutoff": "0",
    "fire": "0"
  }
});

var config = {
  method: 'post',
  url: '/user/v1',
  headers: {
    'Authorization': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwYXJ0bmVySWQiOiIyMDU3Iiwia2V5SWQiOiJqa2ox
MzEyMyIsImV4cCI6MTUxNjIzOTAyMn0.JCCAbNW4O5RSoGrSbvpF78VtjJ5gxJTuob_69Bn4cW8',
    'Content-Type': 'application/json'
  },
  data : data
};

axios(config)
.then(function (response) {
  console.log(JSON.stringify(response.data));
})
.catch(function (error) {
  console.log(error);
});
```

> The above command returns JSON structured like this:

```json
{
    "id": "wd4kZcAw1648147055",
    "createdAt": "2020-07-10 15:00:00.000",
    "updatedAt": "2020-07-10 15:00:00.000",
    "partnerId": "6042",
    "firstName": "Kanga",
    "lastName": "Roo",
    "address": {
        "city": "Columbus",
        "state": "OH",
        "country": "US",
        "zip": "43212",
        "address1": "1920 Edgemont Rd",
        "address2": "Apt 302"
    },
    "email": "test@meetdory.com",
    "phone": "+15555559992",
    "dateOfBirth": "MM/DD/YYYY",
    "typeOfHome": "house",
    "isHomeOwner": true,
    "proMonitoringEnabled" : true,
    "devices": {
        "moisture": "1",
        "theft": "6",
        "smoke": "2",
        "motion": "1",
        "waterShutoff": "0",
        "fire": "0"
    }
}
```

### HTTP Request:
**`POST`** `/user/v1`

### Headers
Authorization: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...

### Output Schema of Request
<%= partial "./api/v1/includes/userOutput.html.md" %>

<div class="h3"> Type of Home</div>
||
|----|
|house|
|apartment|
|condo|
|mobile|

## Get User Information
Retrieves details about the user in our system.  Supply the unique ID that was returned in the creation request to fetch the user's information.

```shell
curl --location --request POST '/user/v1/wd4kZcAw1648147055' \
--header 'Authorization: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwYXJ0bmVySWQiOiIyMDU3Iiwia2V5SWQiOiJqa2oxMzEyMyIsImV4cCI6MTUxNjIzOTAyMn0.JCCAbNW4O5RSoGrSbvpF78VtjJ5gxJTuob_69Bn4cW8' \
--data-raw ''
```

```ruby
require "uri"
require "net/http"

url = URI("/user/v1/wd4kZcAw1648147055")

http = Net::HTTP.new(url.host, url.port);
request = Net::HTTP::Get.new(url)
request["Authorization"] = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwYXJ0bmVySWQiOiIyMDU3Iiwia2V5SWQiOiJqa2ox
MzEyMyIsImV4cCI6MTUxNjIzOTAyMn0.JCCAbNW4O5RSoGrSbvpF78VtjJ5gxJTuob_69Bn4cW8"
response = http.request(request)

puts response.read_body
```

```javascript
var axios = require('axios');

var config = {
  method: 'get',
  url: '/user/v1/wd4kZcAw1648147055',
  headers: {
    'Authorization': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwYXJ0bmVySWQiOiIyMDU3Iiwia2V5SWQiOiJqa2ox
MzEyMyIsImV4cCI6MTUxNjIzOTAyMn0.JCCAbNW4O5RSoGrSbvpF78VtjJ5gxJTuob_69Bn4cW8'
  }
};

axios(config)
.then(function (response) {
  console.log(JSON.stringify(response.data));
})
.catch(function (error) {
  console.log(error);
});
```

> The above command returns JSON structured like this:

```json
{
    "id": "wd4kZcAw1648147055",
    "createdAt": "2020-07-10 15:00:00.000",
    "updatedAt": "2020-07-10 15:00:00.000",
    "partnerId": "6042",
    "firstName": "Kanga",
    "lastName": "Roo",
    "address": {
        "city": "Columbus",
        "state": "OH",
        "country": "US",
        "zip": "43212",
        "address1": "1920 Edgemont Rd",
        "address2": "Apt 302"
    },
    "email": "test@meetdory.com",
    "phone": "+15555559992",
    "dateOfBirth": "MM/DD/YYYY",
    "typeOfHome": "house",
    "isHomeOwner": true,
    "proMonitoringEnabled" : true,
    "devices": {
        "moisture": "1",
        "theft": "6",
        "smoke": "2",
        "motion": "1",
        "waterShutoff": "0",
        "fire": "0"
    }
}
```

### HTTP Request:
**`GET`** `/user/v1/:id`

### Headers
Authorization: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...

## Update A User

Updates the specific details by setting the values of the parameters passed.  Any parameters not provided will be left unchanged.

```shell
curl --location --request PATCH '/user/v1/wd4kZcAw1648147055' \
--header 'Authorization: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwYXJ0bmVySWQiOiIyMDU3Iiwia2V5SWQiOiJqa2oxMzEyMyIsImV4cCI6MTUxNjIzOTAyMn0.JCCAbNW4O5RSoGrSbvpF78VtjJ5gxJTuob_69Bn4cW8' \
--header 'Content-Type: application/json' \
--data-raw '{
    "address": {
        "city": "New York",
        "state": "NY",
        "country": "US",
        "zip": "10011",
        "address1": "6 W 18th Street",
        "address2": "8th Floor"
    }
}'
```

```ruby
require "uri"
require "json"
require "net/http"
url = URI("/user/v1/wd4kZcAw1648147055")
http = Net::HTTP.new(url.host, url.port);
request = Net::HTTP::Patch.new(url)
request["Authorization"] = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwYXJ0bmVySWQiOiIyMDU3Iiwia2V5SWQiOiJqa2ox
MzEyMyIsImV4cCI6MTUxNjIzOTAyMn0.JCCAbNW4O5RSoGrSbvpF78VtjJ5gxJTuob_69Bn4cW8"
request["Content-Type"] = "application/json"
request.body = JSON.dump({
  "address": {
    "city": "New York",
    "state": "NY",
    "country": "US",
    "zip": "10011",
    "address1": "6 W 18th Street",
    "address2": "8th Floor"
  }
})
response = http.request(request)
puts response.read_body
```

```javascript
var axios = require('axios');
var data = JSON.stringify({
  "address": {
    "city": "New York",
    "state": "NY",
    "country": "US",
    "zip": "10011",
    "address1": "6 W 18th Street",
    "address2": "8th Floor"
  }
});

var config = {
  method: 'patch',
  url: '/user/v1/wd4kZcAw1648147055',
  headers: {
    'Authorization': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwYXJ0bmVySWQiOiIyMDU3Iiwia2V5SWQiOiJqa2ox
MzEyMyIsImV4cCI6MTUxNjIzOTAyMn0.JCCAbNW4O5RSoGrSbvpF78VtjJ5gxJTuob_69Bn4cW8',
    'Content-Type': 'application/json'
  },
  data: data
};

axios(config)
.then(function (response) {
  console.log(JSON.stringify(response.data));
})
.catch(function (error) {
  console.log(error);
});
```

> The above command returns `200`

### HTTP Request:
**`PATCH`** `/user/v1/:id`

### Headers
Authorization: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...

## Skeleton User Creation
Sometimes you may not have the recommended properties for a Dory user in your system at time of creation. This endpoint has minimal required parameters to create the object in our system. This endpoint can also be called in a batch request for quick user creation from your database.

```shell
curl --location --request POST '/ingest/v1/user' \
--header 'Authorization: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwYXJ0bmVySWQiOiIyMDU3Iiwia2V5SWQiOiJqa2oxMzEyMyIsImV4cCI6MTUxNjIzOTAyMn0.JCCAbNW4O5RSoGrSbvpF78VtjJ5gxJTuob_69Bn4cW8' \
--header 'Content-Type: application/json' \
--data-raw '{
    "firstName": "Kanga",
    "lastName": "Roo",
    "address": {
        "city": "Columbus",
        "state": "OH",
        "country": "US",
        "zip": "43212",
        "address1": "1920 Edgemont Rd",
        "address2": "Apt 302"
    },
    "email": "test@meetdory.com",
    "phone": "+12623207190",
    "dateOfBirth": "01/30/1987",
    "typeOfHome": "apartment",
    "isHomeOwner": true,
    "proMonitoringEnabled": false,
    "devices": {
        "moisture": "3",
        "theft": "0",
        "smoke": "0",
        "motion": "0",
        "waterShutoff": "1",
        "fire": "0"
    },
    "policyNumber": "NO123",
    "insuranceName": "aa",
    "premiumPaid": "Yearly",
    "agentFirstName": "A",
    "agentLastName": "B",
    "agentEmail": "test@heykangaroo.com",
    "agentPhone": "+1234567891",
    "carOwner": "yes",
    "carVin": "abc123",
    "carCount": 2,
    "homePurchaseDate": "01/30/1987",
    "retired": "yes",
    "specialOccupation": "Teacher",
    "loyalty": 5,
    "claimFree": 5,
    "mortgageFreeAndLienFree": "yes",
    "paidInFull": "yes",
    "electronicFundTransfer": "yes",
    "paperless": "yes",
    "maritalStatus": "Married",
    "educationLevel": "High School"
}'
```

```ruby
require "uri"
require "json"
require "net/http"

url = URI("/ingest/v1/user")

http = Net::HTTP.new(url.host, url.port);
request = Net::HTTP::Post.new(url)
request["Authorization"] = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwYXJ0bmVySWQiOiIyMDU3Iiwia2V5SWQiOiJqa2ox
MzEyMyIsImV4cCI6MTUxNjIzOTAyMn0.JCCAbNW4O5RSoGrSbvpF78VtjJ5gxJTuob_69Bn4cW8"
request.body = JSON.dump({
    "firstName": "Kanga",
    "lastName": "Roo",
    "address": {
        "city": "Columbus",
        "state": "OH",
        "country": "US",
        "zip": "43212",
        "address1": "1920 Edgemont Rd",
        "address2": "Apt 302"
    },
    "email": "test@meetdory.com",
    "phone": "+12623207190",
    "dateOfBirth": "01/30/1987",
    "typeOfHome": "apartment",
    "isHomeOwner": true,
    "proMonitoringEnabled": false,
    "devices": {
        "moisture": "3",
        "theft": "0",
        "smoke": "0",
        "motion": "0",
        "waterShutoff": "1",
        "fire": "0"
    },
    "policyNumber": "NO123",
    "insuranceName": "aa",
    "premiumPaid": "Yearly",
    "agentFirstName": "A",
    "agentLastName": "B",
    "agentEmail": "test@heykangaroo.com",
    "agentPhone": "+1234567891",
    "carOwner": "yes",
    "carVin": "abc123",
    "carCount": 2,
    "homePurchaseDate": "01/30/1987",
    "retired": "yes",
    "specialOccupation": "Teacher",
    "loyalty": 5,
    "claimFree": 5,
    "mortgageFreeAndLienFree": "yes",
    "paidInFull": "yes",
    "electronicFundTransfer": "yes",
    "paperless": "yes",
    "maritalStatus": "Married",
    "educationLevel": "High School"
})
response = http.request(request)

puts response.read_body
```

```javascript
var axios = require('axios');
var data = JSON.stringify({
    "firstName": "Kanga",
    "lastName": "Roo",
    "address": {
        "city": "Columbus",
        "state": "OH",
        "country": "US",
        "zip": "43212",
        "address1": "1920 Edgemont Rd",
        "address2": "Apt 302"
    },
    "email": "test@meetdory.com",
    "phone": "+12623207190",
    "dateOfBirth": "01/30/1987",
    "typeOfHome": "apartment",
    "isHomeOwner": true,
    "proMonitoringEnabled": false,
    "devices": {
        "moisture": "3",
        "theft": "0",
        "smoke": "0",
        "motion": "0",
        "waterShutoff": "1",
        "fire": "0"
    },
    "policyNumber": "NO123",
    "insuranceName": "aa",
    "premiumPaid": "Yearly",
    "agentFirstName": "A",
    "agentLastName": "B",
    "agentEmail": "test@heykangaroo.com",
    "agentPhone": "+1234567891",
    "carOwner": "yes",
    "carVin": "abc123",
    "carCount": 2,
    "homePurchaseDate": "01/30/1987",
    "retired": "yes",
    "specialOccupation": "Teacher",
    "loyalty": 5,
    "claimFree": 5,
    "mortgageFreeAndLienFree": "yes",
    "paidInFull": "yes",
    "electronicFundTransfer": "yes",
    "paperless": "yes",
    "maritalStatus": "Married",
    "educationLevel": "High School"
});

var config = {
  method: 'post',
  url: '/ingest/v1/user',
  headers: {
    'Authorization': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwYXJ0bmVySWQiOiIyMDU3Iiwia2V5SWQiOiJqa2ox
MzEyMyIsImV4cCI6MTUxNjIzOTAyMn0.JCCAbNW4O5RSoGrSbvpF78VtjJ5gxJTuob_69Bn4cW8',
    'Content-Type': 'application/json'
  },
  data : data
};

axios(config)
.then(function (response) {
  console.log(JSON.stringify(response.data));
})
.catch(function (error) {
  console.log(error);
});
```

### HTTP Request:
**`POST`** `/ingest/v1/user`

### Headers
Authorization: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...

|Field|Description|Required| Type |
|-------|-------|-----| ------ |
|firstName| User's First Name| `Yes` | `String` |
|lastName| User's Last Name| `Yes` | `String` |
|email| User's Email| `Yes` | `String` |

## User Schema
The table below shows all the properties that can be added and updated to the User object.

<%= partial "./api/v1/includes/ingestOutput.html.md" %>

<div class="h3"> premiumPaid</div>
||
|----|
|Yearly|
|Monthly|

<div class="h3"> Date Purchased Home</div>
||
|----|
|YYYY-MM-DD|

<div class="h3"> Special Occupation</div>
||
|----|
|Teacher|
|First Responder|
|Active Military|